.catalog{
    /* min-height: calc(100vh - 100px); */
}

.catalog h3 {
    margin: 10px;
    color: rgb(238, 28, 238);
    font-family: 'Comic Sans MS';
    text-shadow: 2px 2px #470360;
}



.catalog .filters button{
    background-color: #bd277e;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 25px;
    font-size: 1.2em;
    font-family: Comic Sans MS;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}