.catalog{
    min-height: calc(100vh - 100px);
}

.catalog h3 {
    margin: 30px;
    color: darkmagenta;
}

.catalog-items{
    /* display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px; */

}

.catalog .filters button{
    margin-left: 8px;
    color: blueviolet;
    border-color: black;
}