.bottom{
    margin-bottom: 0%;
    padding: 10px;
    height: 70px;
    margin-bottom: 0;
    align-items:end ;
    background-color: aquamarine;
    width: 100%;
    bottom: 0;
    position: fixed;
    

}

